# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

In [2]:
# %matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Parte 1

### _Setup_ da parte 1

In [3]:
np.random.seed(42)
    
dataframe = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})
dataframe

         normal  binomial
0     21.986857        18
1     19.446943        15
2     22.590754        14
3     26.092119        15
4     19.063387        21
5     19.063452        14
6     26.316851        18
7     23.069739        23
8     18.122102        18
9     22.170240        23
10    18.146329        23
11    18.137081        17
12    20.967849        22
13    12.346879        23
14    13.100329        19
15    17.750850        17
16    15.948676        20
17    21.256989        26
18    16.367904        21
19    14.350785        16
20    25.862595        22
21    19.096895        19
22    20.270113        21
23    14.301007        22
24    17.822469        20
25    20.443690        24
26    15.396026        22
27    21.502792        21
28    17.597445        16
29    18.833225        24
...         ...       ...
9970  16.349647        18
9971  22.805560        15
9972  23.381093        19
9973  22.415126        20
9974  26.061272        17
9975  17.832907        13
9976  26.697083        22
9977  16.396316        12
9978  15.949258        28
9979  12.960164        17
9980  18.216819        22
9981  17.985111        19
9982  22.103749        14
9983  20.975564        20
9984  15.228107        20
9985  18.429095        24
9986  18.514152        22
9987  12.896071        14
9988  16.076213        17
9989  16.916745        18
9990  25.734500        15
9991  20.765803        19
9992  22.648675        29
9993  14.005458        20
9994  24.776858        23
9995  25.204408        22
9996  12.006620        24
9997  17.178733        17
9998  21.983062        23
9999  22.577554        25

[10000 rows x 2 columns]

## Inicie sua análise a partir da parte 1 a partir daqui

In [131]:
# Sua análise da parte 1 começa aqui.
df_norm = dataframe['normal']
df_binorm = dataframe['binomial']
dataframe.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [59]:
def q1():
    # Retorne aqui o resultado da questão 1.
    q1 = dataframe.describe().round(3).loc['25%', 'normal'] - dataframe.describe().round(3).loc['25%', 'binomial']
    q2 = dataframe.describe().round(3).loc['50%', 'normal'] - dataframe.describe().round(3).loc['50%', 'binomial']
    q3 = dataframe.describe().round(3).loc['75%', 'normal'] - dataframe.describe().round(3).loc['75%', 'binomial']
    return (q1.round(3), q2.round(3), q3.round(3))
q1()

(0.31, -0.01, -0.316)

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [130]:
def q2():
    # Retorne aqui o resultado da questão 2.
    ecdf = ECDF(dataframe['normal'])
    ecdf_q1 = ecdf(dataframe['normal'].mean() - dataframe['normal'].std())
    ecdf_q3 = ecdf(dataframe['normal'].mean() + dataframe['normal'].std())
    return float((ecdf_q3 - ecdf_q1).round(3))
q2()

0.684

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [141]:
def q3():
    # Retorne aqui o resultado da questão 3.
    means = dataframe.describe().loc['mean']
    v_binom = dataframe['binomial'].var()
    v_norm = dataframe['normal'].var()
    return ((means[1] - means[0]).round(3), round((v_binom - v_norm),3))
q3()

(0.106, 0.22)

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

## Parte 2

### _Setup_ da parte 2

In [61]:
stars = pd.read_csv("pulsar_stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

## Inicie sua análise da parte 2 a partir daqui

In [116]:
# Sua análise da parte 2 começa aqui.

# Filtrando apenas os valores de mean_profile onde target == 0 (ou seja, onde a estrela não é um pulsar).
false_pulsar_mean_profile = stars[stars['target']== 0]['mean_profile']

# Padronizando a variável mean_profile filtrada anteriormente para ter média 0 e variância 1.
false_pulsar_mean_profile_standardized = (false_pulsar_mean_profile - false_pulsar_mean_profile.mean()) /false_pulsar_mean_profile.std()

# Encontrando os quantis teóricos
quantil_1 = sct.norm.ppf(0.8, loc=0, scale=1)
quantil_2 = sct.norm.ppf(0.9, loc=0, scale=1)
quantil_3 = sct.norm.ppf(0.95, loc=0, scale=1)
quantil_1, quantil_2, quantil_3

(0.8416212335729143, 1.2815515655446004, 1.6448536269514722)

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [142]:
def q4():
    # Retorne aqui o resultado da questão 4.
    ecdf = ECDF(false_pulsar_mean_profile_standardized)
    p1 = ecdf(quantil_1)
    p2 = ecdf(quantil_2)
    p3 = ecdf(quantil_3)
    return (p1.round(3), p2.round(3), p3.round(3))
q4()

(0.806, 0.911, 0.959)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [143]:

def q5():
    # Retorne aqui o resultado da questão 5.
    q1 = false_pulsar_mean_profile_standardized.describe()['25%'] - sct.norm.ppf(0.25, loc=0, scale=1)
    q2 = false_pulsar_mean_profile_standardized.describe()['50%'] - sct.norm.ppf(0.5, loc=0, scale=1)
    q3 = false_pulsar_mean_profile_standardized.describe()['75%'] - sct.norm.ppf(0.75, loc=0, scale=1)
    return (q1.round(3), q2.round(3), q3.round(3))
q5()

(0.027, 0.04, -0.004)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.